body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.imgicon {
  height: 60px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.legend {
  margin: 1rem;
  background-color: cyan;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 12px;
  font-family: "Courier New", Courier, monospace;
  float: left;
}

.legend2 {
  cursor: pointer;
  border-radius: 12px;
  font-family: "Courier New", Courier, monospace;
  float: left;
}

.marker-btn img {
  width: 30px;
  height: 30px;
}